footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

#loginform {
    right: 100px;
    position: relative;
}

.search-bar {
    padding: 40px;
    padding-left: 30px;
    background-color: #8CD2E5;
}
.result_container{
    padding: 15px;
}