{% extends "search/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
        <!-- Divider -->
        <div class="text-center u-divider-wrapper my-3">
            <span class="u-divider u-divider--xs u-divider--text">OR</span>
        </div>
        <!-- End Divider -->

        <!-- Signin Social Buttons -->
        <div class="row mx-gutters-2 mb-4">
            <div class="col-sm-6 mb-2 mb-sm-0">
                <button type="button" class="btn btn-block btn-facebook">
                    <span class="fab fa-facebook-f mr-2"></span>
                    Signin with Facebook
                </button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-block btn-twitter">
                    <span class="fab fa-twitter mr-2"></span>
                    Signin with Twitter
                </button>
            </div>
        </div>
        <!-- End Signin Social Buttons -->
    </div>
{% endblock content %}