<!-- Signup Modal Window -->
{% load crispy_forms_tags %}
<div id="signupModal" class="js-signup-modal u-modal-window" style="width: 500px;">
    <!-- Modal Close Button -->
    <button class="btn btn-sm btn-icon btn-text-secondary u-modal-window__close" type="button"
            onclick="Custombox.modal.close();">
        <span class="fas fa-times"></span>
    </button>
    <!-- End Modal Close Button -->

    <!-- Content -->
    <div class="p-5">
        <form class="js-validate">
            <!-- Signin -->
            <div id="signin" data-target-group="idForm">
                <!-- Title -->
                <header class="text-center mb-5">
                    <h2 class="h4 mb-0">Please login</h2>
                    <p>Login to manage your account.</p>
                </header>
                <!-- End Title -->

                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <span class="fa fa-user form__text-inner"></span>
                            </span>
                        </div>
                        <input class="form-control form__input" name="username" required
                               placeholder="Username"
                               aria-label="Username"
                               data-msg="Please enter a valid username."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text">
            <span class="fa fa-lock form__text-inner"></span>
          </span>
                        </div>
                        <input type="password" class="form-control form__input" name="password" id="password" required
                               placeholder="Password"
                               aria-label="Password"
                               data-msg="Your password is invalid. Please try again."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <div class="row mb-3">
                    <div class="col-6">
                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                            <input type="checkbox" class="custom-control-input" id="rememberMeCheckbox">
                            <label class="custom-control-label" for="rememberMeCheckbox">
                                Remember Me
                            </label>
                        </div>
                        <!-- End Checkbox -->
                    </div>

                    <div class="col-6 text-right">
                        <a class="js-animation-link float-right" href="javascript:;"
                           data-target="#forgotPassword"
                           data-link-group="idForm"
                           data-animation-in="fadeIn">Forgot Password?</a>
                    </div>
                </div>
                {% block content %}
                    <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div class="mb-3">
                                <button class="btn btn-block btn-primary" type="submit">Login</button>
                            </div>
                        </form>
                {% endblock %}
                <div class="text-center mb-3">
                    <p class="text-muted">
                        Do not have an account?
                        <a class="js-animation-link" href="{% url 'register' %}"
                           data-target="#signup"
                           data-link-group="idForm"
                           data-animation-in="fadeIn">Signup Now
                        </a>
                    </p>
                </div>

                <!-- Divider -->
                <div class="text-center u-divider-wrapper my-3">
                    <span class="u-divider u-divider--xs u-divider--text">OR</span>
                </div>
                <!-- End Divider -->

                <!-- Signin Social Buttons -->
                <div class="row mx-gutters-2 mb-4">
                    <div class="col-sm-6 mb-2 mb-sm-0">
                        <button type="button" class="btn btn-block btn-facebook">
                            <span class="fab fa-facebook-f mr-2"></span>
                            Signin with Facebook
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-twitter">
                            <span class="fab fa-twitter mr-2"></span>
                            Signin with Twitter
                        </button>
                    </div>
                </div>
                <!-- End Signin Social Buttons -->
            </div>
            <!-- End Signin -->

            <!-- Signup -->
            <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
                <!-- Title -->
                <header class="text-center mb-5">
                    <h2 class="h4 mb-0">Please sign up</h2>
                    <p>Fill out the form to get started.</p>
                </header>
                <!-- End Title -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                <span class="input-group-text form__text">
                  <span class="fa fa-user form__text-inner"></span>
                </span>
                        </div>
                        <input class="form-control form__input" name="username" required
                               placeholder="Username"
                               aria-label="Username"
                               data-msg="Please enter a valid username."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                    </div>
                </div>

                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                <span class="input-group-text form__text">
                  <span class="fa fa-user form__text-inner"></span>
                </span>
                        </div>
                        <input type="email" class="form-control form__input" name="email" required
                               placeholder="Email"
                               aria-label="Email"
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                <span class="input-group-text form__text">
                  <span class="fa fa-lock form__text-inner"></span>
                </span>
                        </div>
                        <input type="password" class="form-control form__input" name="password" id="password"
                               required
                               placeholder="Password"
                               aria-label="Password"
                               data-msg="Your password is invalid. Please try again."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                <span class="input-group-text form__text">
                  <span class="fa fa-key form__text-inner"></span>
                </span>
                        </div>
                        <input type="password" class="form-control form__input" name="confirmPassword" required
                               placeholder="Confirm Password"
                               aria-label="Confirm Password"
                               data-msg="Password does not match the confirm password."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->

                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div>
                        <button class="btn btn-block btn-primary" type="submit">Sign up</button>
                    </div>
                </form>


                <div class="text-center mb-3">
                    <p class="text-muted">
                        Have an account?
                        <a class="js-animation-link" href="javascript:;"
                           data-target="#signin"
                           data-link-group="idForm"
                           data-animation-in="fadeIn">Signin
                        </a>
                    </p>
                </div>

                <!-- Divider -->
                <div class="text-center u-divider-wrapper my-3">
                    <span class="u-divider u-divider--xs u-divider--text">OR</span>
                </div>
                <!-- End Divider -->

                <!-- Signup Social Buttons -->
                <div class="row mx-gutters-2 mb-4">
                    <div class="col-sm-6 mb-2 mb-sm-0">
                        <button type="button" class="btn btn-block btn-facebook">
                            <span class="fab fa-facebook-f mr-2"></span>
                            Signup with Facebook
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-twitter">
                            <span class="fab fa-twitter mr-2"></span>
                            Signup with Twitter
                        </button>
                    </div>
                </div>
                <!-- End Signup Social Buttons -->
            </div>
            <!-- End Signup -->

            <!-- Forgot Password -->
            <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
                <!-- Title -->
                <header class="text-center mb-5">
                    <h2 class="h4 mb-0">Recover account</h2>
                    <p>Enter your email address and an email with instructions will be sent to you.</p>
                </header>
                <!-- End Title -->

                <!-- Input -->
                <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group form">
                        <div class="input-group-prepend form__prepend">
                <span class="input-group-text form__text">
                  <span class="fa fa-user form__text-inner"></span>
                </span>
                        </div>
                        <input type="email" class="form-control form__input" name="email" required
                               placeholder="Email"
                               aria-label="Email"
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <div class="mb-3">
                    <button type="submit" class="btn btn-block btn-primary">Recover Account</button>
                </div>

                <div class="text-center mb-3">
                    <p class="text-muted">
                        Have an account?
                        <a class="js-animation-link" href="javascript:;"
                           data-target="#signin"
                           data-link-group="idForm"
                           data-animation-in="fadeIn">Signin
                        </a>
                    </p>
                </div>
            </div>
            <!-- End Forgot Password -->
        </form>
    </div>
    <!-- End Content -->
</div>
<!-- End Signup Modal Window -->