<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
    <div class="container space-2">
        <div class="row justify-content-md-between">
            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">About</h3>

                <!-- List Group -->
                <div class="list-group list-group-flush list-group-transparent">
                </div>
                <!-- End List Group -->
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Company</h3>

                <!-- List Group -->
                <div class="list-group list-group-flush list-group-transparent">
                </div>
                <!-- End List Group -->
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-5 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Med</h3>

                <!-- List Group -->
                <div class="list-group list-group-flush list-group-transparent">
                </div>
                <!-- End List Group -->
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Social</h3>
                <!-- End List -->
            </div>

            <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">

                <!-- Language -->
                <div class="btn-group d-block position-relative mb-4 mb-lg-auto">
                    <a id="footerLanguageInvoker" class="btn-text-secondary d-flex align-items-center u-unfold--language-btn rounded py-2 px-3" href="javascript:;" role="button"
                       aria-controls="footerLanguage"
                       aria-haspopup="true"
                       aria-expanded="false"
                       data-unfold-event="click"
                       data-unfold-target="#footerLanguage"
                       data-unfold-type="css-animation"
                       data-unfold-duration="300"
                       data-unfold-delay="300"
                       data-unfold-hide-on-scroll="false"
                       data-unfold-animation-in="slideInUp"
                       data-unfold-animation-out="fadeOut">
                        <span class="font-size-14">English</span>
                        <span class="fa fa-angle-down u-unfold__icon-pointer u-unfold--language-icon-pointer ml-4"></span>
                    </a>

                    <!-- Content -->
                    <div id="footerLanguage" class="u-unfold u-unfold--language bottom-0 left-0" aria-labelledby="footerLanguageInvoker">
                        <div class="py-6 px-5">
                            <h4 class="h6 mb-4">Select your language</h4>

                            <div class="row">
                                <div class="col-6">
                                    <!-- List of Languages -->
                                    <div class="list-group list-group-borderless list-group-flush">
                                        <a class="active d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="United States Flag">
                                            English
                                        </a>
                                        <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/fr.svg" alt="France Flag">
                                            Français
                                        </a>
                                        <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/de.svg" alt="Germany Flag">
                                            Deutsch
                                        </a>
                                        <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/pt.svg" alt="Portugal Flag">
                                            Português
                                        </a>
                                    </div>
                                    <!-- End List of Languages -->
                                </div>

                                <div class="col-6">
                                    <!-- List of Languages -->
                                    <div class="list-group list-group-borderless list-group-flush">
                                        <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/es.svg" alt="Spain Flag">
                                            Español
                                        </a>
                                        <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/it.svg" alt="Italy Flag">
                                            Italiano
                                        </a>
                                        <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/ru.svg" alt="Russian Flag">
                                            Русский
                                        </a>
                                        <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                                            <img class="max-width-3 mr-2" src="/static/search/assets/vendor/flag-icon-css/flags/4x3/tr.svg" alt="Turkey Flag">
                                            Türkçe
                                        </a>
                                    </div>
                                    <!-- End List of Languages -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
                <!-- End Language -->

                <p class="small text-muted">All rights reserved. &copy; AusTechConnect. 2019 .</p>
            </div>
        </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->