<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--modern u-header--bordered u-header--navbar-bg u-header--sticky-top-lg">
    <div class="u-header__section bg-dark">
        <div id="logoAndNav" class="container-fluid">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
                <!-- Logo -->
                <div class="u-header__navbar-brand-wrapper">
                    <a class="navbar-brand u-header__navbar-brand" href="{% url "search:index" %}" aria-label="Space">
                        <img class="u-header__navbar-brand-default" src="/static/search/logo.png" alt="Logo">
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                    <span class="d-none d-sm-inline-block">Menu</span>
                    <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
              <span class="u-hamburger__inner"></span>
            </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
                    <ul class="navbar-nav u-header__navbar-nav">
                        <!-- Home -->
                        <li class="nav-item hs-has-sub-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="fadeInUp"
                            data-animation-out="fadeOut">
                            <a id="homeMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-labelledby="homeSubMenu">
                                Home
                                <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                            </a>

                        </li>
                        <!-- End Home -->

                        <!-- Pages -->
                        <li class="nav-item hs-has-mega-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="fadeInUp"
                            data-animation-out="fadeOut"
                            data-position="right">
                            <a id="PagesMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Pages
                                <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                            </a>

                            <!-- Pages - Mega Menu -->
                            <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="PagesMegaMenu">
                                <div class="u-header__mega-menu-wrapper-v1">
                                    <ul class="row list-unstyled u-header__mega-menu-list">
                                        <li class="col-sm-6 col-lg-2 u-header__mega-menu-col mb-3 mb-lg-0">
                                            <span class="u-header__sub-menu-title">About &amp; Services</span>

                                            <!-- Links -->
                                            <ul class="list-unstyled">
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/about-agency.html">About Agency</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/about-start-up.html">About Start-Up</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/services-agency.html">Services Agency</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/services-start-up.html">Services Start-Up</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </li>

                                        <li class="col-sm-6 col-lg-2 u-header__mega-menu-col mb-3 mb-lg-0">
                                            <span class="u-header__sub-menu-title">Careers</span>

                                            <!-- Links -->
                                            <ul class="list-unstyled">
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/careers.html">Careers</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/careers-single.html">Careers Single</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/hire-us.html">Hire Us</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </li>

                                        <li class="col-sm-6 col-lg-2 u-header__mega-menu-col mb-3 mb-lg-0">
                                            <span class="u-header__sub-menu-title">Signin &amp; Signup</span>

                                            <!-- Links -->
                                            <ul class="list-unstyled">
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/signin-simple.html">Signin Simple</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/signup-simple.html">Signup Simple</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/recover-account.html">Recover Account</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </li>

                                        <li class="col-sm-6 col-lg-2 u-header__mega-menu-col mb-3 mb-sm-0">
                                            <span class="u-header__sub-menu-title">Contacts</span>

                                            <!-- Links -->
                                            <ul class="list-unstyled">
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/contacts-agency.html">Contacts Agency</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link px-0"
                                                       href="../pages/contacts-business.html">Contacts Business</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- End Pages - Mega Menu -->
                        </li>
                        <!-- End Pages -->

                        <!-- Works -->
                        <li class="nav-item hs-has-sub-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="fadeInUp"
                            data-animation-out="fadeOut">
                            <a id="worksMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-labelledby="worksSubMenu">
                                Works
                                <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                            </a>

                            <!-- Works - Submenu -->
                            <ul id="worksSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                                style="min-width: 220px;"
                                aria-labelledby="worksMegaMenu">
                                <!-- Classic -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkWorksBoxedLayout" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuWorksBoxedLayout">
                                        Classic
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuWorksBoxedLayout"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkWorksBoxedLayout">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/boxed-classic.html">Portfolio Classic</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/boxed-grid.html">Portfolio Grid</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/boxed-masonry.html">Portfolio Masonry</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/boxed-gallery.html">Portfolio Gallery</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/boxed-slider.html">Portfolio Slider</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- Classic -->

                                <!-- Full Width -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkWorksFullWidthLayout" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuWorksFullWidthLayout">
                                        Full Width Layout
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuWorksFullWidthLayout"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkWorksFullWidthLayout">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/fullwidth-classic.html">Portfolio Classic</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/fullwidth-grid.html">Portfolio Grid</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/fullwidth-masonry.html">Portfolio Masonry</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/fullwidth-gallery.html">Portfolio Gallery</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/fullwidth-slider.html">Portfolio Slider</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- Full Width -->

                                <!-- Single Page -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkWorksSinglePage" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuWorksSinglePage">
                                        Single Page
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuWorksSinglePage"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkWorksSinglePage">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/single-page-simple.html">Single Page Simple</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/single-page-grid.html">Single Page Grid</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/single-page-masonry.html">Single Page Masonry</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../portfolio/case-studies-simple.html">Case Studies Simple</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- Single Page -->
                            </ul>
                            <!-- End Works - Submenu -->
                        </li>
                        <!-- End Works -->

                        <!-- Blog -->
                        <li class="nav-item hs-has-sub-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="fadeInUp"
                            data-animation-out="fadeOut">
                            <a id="blogMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-labelledby="blogSubMenu">
                                Resources
                                <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                            </a>

                            <!-- Blog - Submenu -->
                            <ul id="blogSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                                style="min-width: 220px;"
                                aria-labelledby="blogMegaMenu">
                                <!-- Classic -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkBlogClassic" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuBlogClassic">
                                        Classic
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuBlogClassic"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkBlogClassic">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/classic-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/classic-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/classic-full-width.html">Full Width</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- Classic -->

                                <!-- Grid -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkBlogGrid" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuBlogGrid">
                                        Grid
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuBlogGrid"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkBlogGrid">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/grid-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/grid-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/grid-full-width.html">Full Width</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- Grid -->

                                <!-- List -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkBlogList" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuBlogList">
                                        List
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuBlogList"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkBlogList">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/list-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/list-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/list-full-width.html">Full Width</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- List -->

                                <!-- Masonry -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkBlogGridMinimal" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuBlogGridMinimal">
                                        Masonry
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuBlogGridMinimal"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkBlogGridMinimal">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/masonry-left-sidebar.html">Left Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/masonry-right-sidebar.html">Right Sidebar</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/masonry-full-width.html">Full Width</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- Masonry -->

                                <!-- Single Article -->
                                <li class="dropdown-item hs-has-sub-menu">
                                    <a id="navLinkBlogGridMasonry" class="nav-link u-header__sub-menu-nav-link"
                                       href="javascript:;"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       aria-controls="navSubmenuBlogGridMasonry">
                                        Single Article
                                        <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                                    </a>

                                    <!-- Submenu (level 2) -->
                                    <ul id="navSubmenuBlogGridMasonry"
                                        class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-offset"
                                        style="min-width: 220px;"
                                        aria-labelledby="navLinkBlogGridMasonry">
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/single-article-classic.html">Classic</a>
                                        </li>
                                        <li class="dropdown-item u-header__sub-menu-list-item">
                                            <a class="nav-link u-header__sub-menu-nav-link"
                                               href="../blog/single-article-simple.html">Simple</a>
                                        </li>
                                    </ul>
                                    <!-- End Submenu (level 2) -->
                                </li>
                                <!-- Single Article -->
                            </ul>
                            <!-- End Submenu -->
                        </li>
                        <!-- End Blog -->

                        <!-- Shop -->
                        <li class="nav-item hs-has-sub-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="fadeInUp"
                            data-animation-out="fadeOut">
                            <a id="shopMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-labelledby="shopSubMenu">
                                Investors
                                <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                            </a>

                            <!-- Shop - Submenu -->
                            <ul id="shopSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                                style="min-width: 220px;"
                                aria-labelledby="shopMegaMenu">
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link u-header__sub-menu-nav-link"
                                       href="../shop/classic.html">Classic</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link u-header__sub-menu-nav-link" href="../shop/single-product.html">Single
                                        Product</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link u-header__sub-menu-nav-link" href="../shop/checkout.html">Checkout</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link u-header__sub-menu-nav-link" href="../shop/empty-cart.html">Empty
                                        Cart</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link u-header__sub-menu-nav-link" href="../shop/gift-card.html">Gift
                                        Card</a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link u-header__sub-menu-nav-link" href="../shop/order-completed.html">Order
                                        Completed</a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Shop -->

                        <!-- Docs -->
                        <li class="nav-item hs-has-sub-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="fadeInUp"
                            data-animation-out="fadeOut">
                            <a id="docsMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-labelledby="docsSubMenu">
                                Docs
                                <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                            </a>

                            <!-- Docs - Submenu -->
                            <ul id="docsSubMenu" class="list-inline hs-sub-menu u-header__sub-menu mb-0"
                                style="min-width: 260px;"
                                aria-labelledby="docsMegaMenu">
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link d-block u-header__sub-menu-nav-link"
                                       href="/static/search/documentation/index.html">
                                        <div class="media align-items-center">
                                            <img class="max-width-5 mr-3"
                                                 src="/static/search/assets/svg/components/news-dark-icon.svg"
                                                 alt="Image Description">
                                            <div class="media-body">
                                                <span class="d-block text-dark font-weight-medium">Documentation</span>
                                                <small class="d-block">Development guides</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-item u-header__sub-menu-list-item py-0">
                                    <a class="nav-link d-block u-header__sub-menu-nav-link"
                                       href="/static/search/starter/index.html">
                                        <div class="media align-items-center">
                                            <img class="max-width-5 mr-3"
                                                 src="/static/search/assets/svg/components/portfolio-dark-icon.svg"
                                                 alt="Image Description">
                                            <div class="media-body">
                                                <span class="d-block text-dark font-weight-medium">Get Started</span>
                                                <small class="d-block">Components and snippets</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Docs -->

                        <!-- Button -->
                        <li class="nav-item u-header__nav-item-btn">
                            <a class="btn btn-sm btn-primary" href="#signupModal" role="button"
                               data-modal-target="#signupModal"
                               data-overlay-color="#151b26">
                                <span class="fa fa-user-circle mr-1"></span>
                                Signin
                            </a>
                        </li>
                        <!-- End Button -->

                        <!-- Search -->
                        <li class="nav-item u-header__navbar-icon u-header__navbar-v-divider">
                            <a class="btn btn-xs btn-icon btn-text-dark u-header__search-toggle" href="javascript:;"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-controls="search"
                               data-unfold-target="#search"
                               data-unfold-hide-on-scroll="false"
                               data-unfold-type="css-animation"
                               data-unfold-duration="300"
                               data-unfold-delay="300"
                               data-unfold-animation-in="slideInUp">
                                <span class="fa fa-search btn-icon__inner"></span>
                            </a>

                            <!-- Input -->
                            <form id="search"
                                  class="js-focus-state input-group form u-header__search u-unfold--css-animation u-unfold--hidden">
                                <input class="form-control form__input" type="search" placeholder="Search Space">
                                <div class="input-group-addon u-header__search-addon p-0">
                                    <button class="btn btn-primary u-header__search-addon-btn" type="button">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </form>
                            <!-- End Input -->
                        </li>
                        <!-- End Search -->
                    </ul>
                </div>
                <!-- End Navigation -->

                <ul class="navbar-nav flex-row u-header__secondary-nav">
                    <!-- Shopping Cart -->
                    <li class="nav-item u-header__navbar-icon-wrapper u-header__navbar-icon">
                        <a id="shoppingCartDropdownInvoker" class="btn btn-xs btn-icon btn-text-dark"
                           href="javascript:;" role="button"
                           aria-controls="shoppingCartDropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-unfold-event="click"
                           data-unfold-target="#shoppingCartDropdown"
                           data-unfold-type="css-animation"
                           data-unfold-duration="300"
                           data-unfold-delay="300"
                           data-unfold-hide-on-scroll="true"
                           data-unfold-animation-in="slideInUp"
                           data-unfold-animation-out="fadeOut">
                            <span class="fa fa-shopping-cart btn-icon__inner"></span>
                        </a>

                        <div id="shoppingCartDropdown"
                             class="u-unfold u-unfold--cart text-center border rounded-0 right-0 p-7"
                             aria-labelledby="shoppingCartDropdownInvoker" style="min-width: 250px;">
                <span class="u-icon u-icon--primary u-icon--md rounded-circle mb-3">
                  <span class="fa fa-shopping-basket u-icon__inner"></span>
                </span>
                            <span class="d-block">Your Cart is Empty</span>
                        </div>
                    </li>
                    <!-- End Shopping Cart -->

                    <!-- Account Signin -->
                    <li class="nav-item u-header__navbar-icon">
                        <!-- Account Sidebar Toggle Button -->
                        <a id="sidebarNavToggler" class="btn btn-xs btn-icon btn-text-dark" href="javascript:;"
                           role="button"
                           aria-controls="sidebarContent"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-unfold-event="click"
                           data-unfold-hide-on-scroll="false"
                           data-unfold-target="#sidebarContent"
                           data-unfold-type="css-animation"
                           data-unfold-animation-in="fadeInRight"
                           data-unfold-animation-out="fadeOutRight"
                           data-unfold-duration="500">
                            <span class="fa fa-bars btn-icon__inner font-size-13"></span>
                        </a>
                        <!-- End Account Sidebar Toggle Button -->
                    </li>
                    <!-- End Account Signin -->
                </ul>
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->