<!-- Panel Sidebar Navigation -->
<aside id="sidebarContent" class="u-sidebar u-unfold--css-animation u-unfold--hidden"
       aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
        <div class="u-sidebar__container">
            <div class="u-sidebar--panel__footer-offset">
                <!-- Toggle Button -->
                <div class="d-flex align-items-center border-bottom py-4 px-5">
                    <h4 class="h5 mb-0">Account</h4>

                    <button type="button" class="close u-sidebar__close ml-auto"
                            aria-controls="sidebarContent"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent"
                            data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- End Toggle Button -->

                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                    <div class="u-sidebar__content py-5">
                        <!-- Title -->
                        <div class="py-2 px-5">
                            <h4 class="text-uppercase text-muted font-size-13 mb-0">Menu label</h4>
                        </div>
                        <!-- End Title -->

                        <!-- List -->
                        <ul class="list-unstyled font-size-14 mb-5">
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/finance-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Dashboard</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/touch-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Activity</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/team-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Team</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/email-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Mailbox</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/projects-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Projects</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- End List -->

                        <!-- Title -->
                        <div class="py-2 px-5">
                            <h4 class="text-uppercase text-muted font-size-13 mb-0">Sub level</h4>
                        </div>
                        <!-- End Title -->

                        <!-- List -->
                        <ul class="list-unstyled font-size-14 mb-0">
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/calendar-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Calendar</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/cog-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Tools</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                         src="/static/search/assets/svg/components/archive-dark-icon.svg"
                                         alt="Image Description">
                                    <div class="media-body">
                                        <span>Archive</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- End List -->
                    </div>
                </div>
                <!-- End Content -->
            </div>

            <!-- Footer -->
            <footer class="u-sidebar__footer u-sidebar__footer--panel py-4 px-5">
                <!-- List -->
                <ul class="list-inline font-size-14 mb-0">
                    <li class="list-inline-item">
                        <a class="u-sidebar--panel__link pr-2" href="../pages/privacy.html">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-sidebar--panel__link px-2" href="../pages/terms.html">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-sidebar--panel__link pl-2" href="../pages/help.html">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </li>
                </ul>
                <!-- End List -->
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</aside>
<!-- End Panel Sidebar Navigation -->